@namespace Presentation.Maui.Components.Pages
@page "/DataSelection/{directoryInfo}"
@using Presentation.Maui.Components.Shared
@using Presentation.Maui.DTO
@using Presentation.Maui.ValueObjects


<FileFilter />


<DataTableModel Type="@(typeof(TablePreviewDTO))" @bind-_dataSource="_dataSource" />

<button @onclick="Check"></button>


@code {
    [Parameter]
    public string DirectoryInfo { get; set; }

    private List<object> _dataSource;
    protected override async Task OnParametersSetAsync()
    {
        DirectoryInfo dir = new(DirectoryUri.FromEncodedUri(DirectoryInfo));

        var files = dir.GetFiles();
        if (files.Any())
        {

            var ds = files.Select(s => new TablePreviewDTO()
            {
                FileIdentity = s.FullName,
                FileName = s.Name,
                FileSize = s.Length,
            }
            ).ToList();
            ds.ForEach(f => _dataSource.Add(f));
        }
        
    }

    public void Check()
    {
        
    }
}