@namespace Presentation.Maui.Components.Pages
@inject NavigationManager Navigation
@using Presentation.Maui.Components.Shared
@using Presentation.Maui.DTO
@using Presentation.Maui.Interfaces
@using Presentation.Maui.Service
@using Presentation.Maui.ValueObjects
@page "/DataSelection"

<FileFilter OnChangeCallBack="DataFilterChanged" />

<DataTableModelSelection DataTableFiles="TableSelection" />

<button 
    class="btn btn-sm btn-primary"
    @onclick="PreviewSelectedFiles">Preview Selected Files
</button>

@code{
    private ITableSelection TableSelection { get; set; }
        = new TableSelectionDTO(DirectoryManagerService._dir, null );

    private void DataFilterChanged(DataFilterDTO e)
    { 
        TableSelection.SetDataFilter(e);
    }

    private void PreviewSelectedFiles(MouseEventArgs args)
    {
        var e = TableSelection.GetCheckedRows();
    }
}