@namespace Presentation.Maui.Components.Pages

@page "/DataPreview"
@using ApplicationService
@using ApplicationService.DAO
@using ApplicationService.Interfaces
@using Presentation.Maui.Components.PreviewOptions
@using Presentation.Maui.Components.Shared
@using Presentation.Maui.Service

<div class="form-group my-3">
    <label >Rename Preview</label>
    <select class="form-control" @onchange="PreviewSelectionChanged">
        <option value="0">NumberedSequence</option>
        <option value="1">Append</option>
        <option value="2">Pattern</option>
    </select>
</div>

<div class="my-3">
@switch(PreviewOption)
{
    case 0:
            <NumberedSequencePreviewer CallBack="PreviewFormChanged"></NumberedSequencePreviewer>
        ; break;
    case 1:
            <AppendPreviewer CallBack="PreviewFormChanged"></AppendPreviewer>
        ; break;
        case 2:
            <PatternPreviewer CallBack="PreviewFormChanged"></PatternPreviewer>
        ; break;
}
</div>

    <DataTableModelPreviewer DataTableFiles="TablePreview"></DataTableModelPreviewer>
    
    <button class="btn btn-sm btn-warning w-100 my-3" @onclick="RenameFilesOperation">Rename Files</button>

    <button 
        class="btn btn-sm btn-danger w-100 my-3" 
        disabled="@IsRollbackEnabled" 
        @onclick="RollbackOperation">Rollback
    </button>

@code {
    private bool IsRollbackEnabled { get; set; } = true;  
    private int PreviewOption { get; set; }

    private IOperationContract OperationContract { get; set; }

    private void PreviewSelectionChanged(ChangeEventArgs e)
        => PreviewOption = int.Parse(e.Value.ToString());


    private ITablePreview TablePreview { get; set; }

    protected override void OnInitialized()
        => TablePreview = new TablePreviewDAO(DirectoryManagerService._dir);

    private void PreviewFormChanged( IOperationContract contract )
    {
        OperationContract = contract;
        TablePreview.SetDataPreview(contract);
    }    

    private async Task RenameFilesOperation(MouseEventArgs args)
    {
        var oc = OperationContract;
        OperationContract = null;

        var service = new MainApplicationService();
        service.RenameFiles(oc);

        IsRollbackEnabled = false;

    }
    private void RollbackOperation(MouseEventArgs args)
        => new MainApplicationService()
        .RollBackVersion(DirectoryManagerService._dir.FullName);
}
