@page "/DataSelection"
@namespace Presentation.Maui.Components.Pages
@using Presentation.Maui.Components.Shared
@using Presentation.Maui.DTO


<FileFilter @bind-FilterChangedCallBack="FilterChanged" />


<DataTableModel Type="@(typeof(TablePreviewDTO))"/>

<button @onclick="Check"></button>

<h1>@texto </h1>

@code {
    private static string texto { get; set; } = ""; 

    private Action<DataFilterDTO> FilterChanged = (c) => texto = c.Text;
    //private void UpdateYear() => year = Random.Shared.Next(1950, 2021);
    public void Check()
    {
        
    }
}