@namespace Presentation.Maui.Components.Pages
@inject NavigationManager Navigation
@using Presentation.Maui.ComponentModel
@using Presentation.Maui.Components.Shared
@using Presentation.Maui.DTO
@using Presentation.Maui.Service
@using Presentation.Maui.ValueObjects
@page "/DataSelection"

<FileFilter OnChangeCallBack="DataFilterChanged" />

<DataTableModelSelection DataTableFiles="DataTableDTO" />

<button 
    class="btn btn-sm btn-primary"
    @onclick="PreviewSelectedFiles">Preview Selected Files
</button>

@code{
    private DataTableModel<TableSelectionDTO> DataTableDTO { get; set; }



    private void DataFilterChanged(DataFilterDTO e)
        => DataTableDTO =new( DirectoryManagerService._dir, e );

    private void PreviewSelectedFiles(MouseEventArgs args)
    {
        var e = DataTableDTO.TableRows.Where(x => x.IsChecked);
    }
}