@page "/DataSelection"
@namespace Presentation.Maui.Components.Pages
@using Presentation.Maui.Components.Shared
@using Presentation.Maui.DTO



<FileFilter @bind-Text="@teste" />



<DataTableModel Type="@(typeof(TablePreviewDTO))"/>

<button @onclick="Check"></button>


@code {
    public string teste;


    DataTableModel TableComponent; 
    public void Check()
    {
        var ee = teste;
    }
}
