@using Presentation.Maui.DTO
@using Presentation.Maui.Interfaces
@inject NavigationManager Navigation


<table class="table table-dark table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Name</th><th>Size</th><th>Checked</th>
        </tr>
    </thead>
    @foreach (TableSelectionDTO file in DataTableFiles.TableRows)
    {
        <tr >
            <td class="table-light">@file.FileName</td>
            <td class="table-light">@file.FileSize</td>
            
            <td class="table-light">
                <input id="@file.FileIdentity.Id" 
                    type="checkbox" 
                    checked="@file.IsChecked"
                       @onchange="(e)=>CheckBoxChanged(e , file.FileIdentity)" />
            </td>
        </tr>
    }
    

</table>
