@using Presentation.Maui.DTO
@using Presentation.Maui.Interfaces
@using static Presentation.Maui.DTO.TableSelectionDTO
@inject NavigationManager Navigation


<table class="table table-dark table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Name</th><th>Size</th><th></th>
        </tr>
    </thead>
    @if (DataTableFiles!= null && DataTableFiles.Rows.Any())
    {
        @foreach (TableRows file in DataTableFiles.Rows)
        {
            <tr >
                <td class="table-light">@file.FileName</td>
                <td class="table-light">@file.FileSize</td>
            
                <td class="table-light">
                    <input id="@file.FileIdentity.Id" 
                        type="checkbox" 
                        checked="@file.IsChecked"
                           @onchange="(e)=>CheckBoxChanged(e , file.FileIdentity)" />
                </td>
            </tr>
        }    
    }
    
    

</table>
