@using ApplicationService.DAO
@using ApplicationService.Interfaces
@using FileManager.DAO


<table class="table table-primary table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    
       

</table>
@code{
    [Parameter]
    public ITablePreview DataTableFiles { get; set; }


}