@using Presentation.Maui.Interfaces
@using Presentation.Maui.Shared


<table id="@Instance.GetId()">
    <tr>
        @foreach (string col in Instance.GetTableColumns())
        {
                <th>@col</th>    
        }
    </tr>
    <tr>

    </tr>

</table>

@code 
{
    [Parameter]
    public IDataTableModel Instance { get; set; }
    

}