@namespace Presentation.Maui.Components.Shared
@using Presentation.Maui.Components.Shared.Inputs

<div>
    <AlsoNumberedTextInput 
        ClassName="form-control"
        PlaceHolder="Filter Files"
        onkeyup=""
    >
        <i class="fa-solid fa-magnifying-glass"></i>
    </AlsoNumberedTextInput>

</div>



@code {

}
