@namespace Presentation.Maui.Components.Shared
@using Presentation.Maui.Components.Shared.Inputs
@using Presentation.Maui.DTO

<div>
@* filter input  *@
    <div class="input-group mb-3">
        <input type="text"
               class="form-control"
               placeholder="Search files"
               bind="@FilterDTO.Text"
                @onchange="FormChanged"
                />

        <div class="input-group-append">
            <span  class="input-group-text">
                search
            </span>
        </div>
    </div>

@* filter input  end*@
    <div>
        <select class="form-select form-select-lg mb-3" 
            aria-label=".form-select-lg example"
                @onchange="FormChanged"
                bind="@FilterDTO.FilterOption">
            <option value="Contains" selected>Contains</option>
            <option value="Size"> Size </option>
            <option value="Extension">Extension</option>
        </select>
    </div>
</div>
@code {

    [Parameter]
    public EventCallback<DataFilterDTO> OnChangeCallBack { get; set; }
    private DataFilterDTO FilterDTO = new DataFilterDTO();

    private void FormChanged(ChangeEventArgs c)
    {


        OnChangeCallBack.InvokeAsync(FilterDTO);
    }


}
