@namespace Presentation.Maui.Components.Shared
@using ApplicationService.DAO
@using ApplicationService.Interfaces
@using Presentation.Maui.Components.Shared.Inputs

<div>
@* filter input  *@
    <div class="input-group mb-3">
        <input type="text"
               class="form-control"
               placeholder="Search files"
                @onchange="FilterTextChanged"
                />

        <div class="input-group-append">
            <span  class="input-group-text">
                search
            </span>
        </div>
    </div>

@* filter input  end*@
    <div>
        <select class="form-select form-select-sm mb-3" 
            aria-label=".form-select-sm example"
                @onchange="FormChanged">
            <option value="Contains" selected>Contains</option>
            <option value="Size"> Size </option>
            <option value="Extension">Extension</option>
        </select>
    </div>
</div>
@code {

    [Parameter]
    public EventCallback<IDataFilter> OnChangeCallBack { get; set; }
    private string FilterOption { get; set; }
    private string FilterText { get; set; }
    private void FilterTextChanged(ChangeEventArgs e)
    {
        FilterText = e.Value.ToString();
        FormChanged();
    }
    private void FilterOptionChanged(ChangeEventArgs e)
    {
        FilterOption = e.Value.ToString();
        FormChanged();
    }

    private void FormChanged()
    {
        IDataFilter e = new DataFilterDAO(FilterText, FilterOption);
        OnChangeCallBack.InvokeAsync(e); 
    }
}
